html {
    scroll-behavior: smooth;
}

.message-header{
    font-family: "Cairo", sans-serif;
    font-size: 2.1rem;
}

.message-header-span{
    font-family: "Cairo", sans-serif;
    font-size: 2.1rem;
    color: rgba(60, 183, 168, 1);
}

.message-para{
    font-family: "Cairo", sans-serif;
    font-size: .75rem;
}

.message-text{
    margin-left: 20px;
    margin-bottom: 40px;
}

.man-img{
    z-index: 1;
    max-width: 100%;
    background-image: url('../../assets/Rectangle.svg');
    object-fit: contain;
}

.message-sec{
    overflow: hidden;
}
